$darker-blue: #233750;
$deep-blue: #2c4664;
$light-blue: #edf1f5;
$medium-blue: #365478;
$mint: #ceffbd;
$black: #2d2d2d;
$whitesmoke: #f5f5f5ab;

$color-black        : #232323;
$color-white        : #ffffff;
$color-gray         : #616161;
$color-line         : #efefef;
$color-red          : #df0d2d;

$box-shadow         : rgba(0, 0, 0, 0.15);

$breakpoint-mobile  : 480px;
